<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>329082582863-c0jap0d1sdidshd01fes779r0up75ss4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.329082582863-c0jap0d1sdidshd01fes779r0up75ss4</string>
	<key>API_KEY</key>
	<string>AIzaSyBxlnn_GS1PseYQXOsHn2HRFahQ4iVzduI</string>
	<key>GCM_SENDER_ID</key>
	<string>329082582863</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>regisappvhome.allJob</string>
	<key>PROJECT_ID</key>
	<string>alljob-4116a</string>
	<key>STORAGE_BUCKET</key>
	<string>alljob-4116a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:329082582863:ios:c19516970220276712373a</string>
</dict>
</plist>